html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


html {
    background-color: #2a130d;

    font-family: monospace;
    text-transform: uppercase;
}


h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}


.toolbox {
    float: left;

    width: calc(15% - 2 * 20px - 4px);
    height: calc(100% - 2 * 10px);

    background-color: rgba(0, 0, 0, .8);
    color: #fff;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border-right: 4px solid #CB6D51;
}

.toolbox .box {
    float: right;
    width: calc(100% - 2 * 10px);

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    margin-bottom: 10px;
}

.toolbox .box .gate {
    float: left;
    margin: 10px;
}

.toolbox .box .gate[draggable=true] {
    cursor: move;
}


#circuit {
    float: left;

    width: 85%;
    height: 100%;
}

#circuit .gate {
    position: fixed;
}

#circuit .gate .port {
    position: fixed;
}

#circuit .gate .port.port-IN {
    background-color: #fff;
    color: #000;
}

#circuit .gate .port.port-OUT {
    background-color: #000;
    color: #fff;
}

#circuit .wire {
    width: 0;
    position: fixed;

    background-color: #CB6D51;
    border-left: 2px solid #CB6D51;
    border-right: 2px solid #CB6D51;
}


.gate {
    width: 75px;
    height: 75px;

    border: 3px solid #999;
}

.gate.gate-AND {
    background-color: #500;
}

.gate.gate-OR {
    background-color: #005;
}

.gate.gate-XOR {
    background-color: #055;
}

.gate.gate-NOT {
    background-color: #505;
}

.gate.gate-IN {
    color: #000;
    background-color: #fff;
}

.gate.gate-OUT {
    background-color: #000;
}
